.section1 {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    height: 700px;
    align-items: center;
}

.container {
    width: 500px;
    display: block;
}

.container h1 {
    margin: 0;
}

.container p {
    width: 400px;
}

img {
    height: 200px;
}