.section2 {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 auto; */
    height: 700px;
    align-items: center;
}


.container2 {
    width: 500px;
    display: block;
}


.container2 img {
    display: none;
}

.section3 {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 700px;
}


.section3 h2 {
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
}

.iniciativa {
    display: block;
    width: 300px;
}
