@media only screen and (max-width: 750px) {

    body {
        /* font-size: 18px; */
        width: 450px;
    }

    .section_pink {
        background-color: var(--cor-primaria); 
        color: black;
    }

    /* HEADER */

    .section1 {
        display: block;
    }

    .section1 img {
        /* padding: 20px; */
        padding-left: 10vw;
        padding-top: 6vw;
    }

    .container {
        width: 400px;
    }

    .container h1 {
        padding-left: 10vw;
        padding-top: 140px;
    }

    .container p {
        /* padding-left: 20px; */
        padding-left: 10vw;
        width: 350px;
    }

    .container button {
        margin-left: 40px;

    }

    

    /* MAIN */

    .section2 {
        display: block; 
    }

    .section3, .container2 {
        display: block; 
    }

    .iniciativa {
        display: inline; 
        text-align: center;
        align-items: center;

    }

}