@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --cor-primaria: #88c2eb;
    --cor-secundaria: #209ffa;
    --cor-destaque: #ff69b4;
}

body {
    background-color: white;
    font-size: 18px;
}

.svg {
    width: 20px;
    position: relative;
    top: 4px; /* move a imagem 20px para baixo */
    left: 5px;
}