 
/* * {
    margin: 0;
    padding: 0; 
    max-width: 100%;
    box-sizing: border-box;
} */

:root {
    --cor-primaria: #ffecee;
    --cor-secundaria: #051630;
}

body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
}

.section_blue {
    background-color: var(--cor-secundaria); 
    color: white;
    max-width: 1700px;
}

.section_pink {
    background-color: var(--cor-primaria); 
    color: black;
}

img {
    width: 300px;
}

